# Python
* High level interpreted language
* We will use the version 3 of Python
* Different programming paradigms are supported
* IPython: enhanced interactive shell

## Data types
Numerical types (int, float)

In [1]:
2 + 2

4

In [2]:
3.0 * 5.5

16.5

The operator ** allows computing powers

In [3]:
3**4

81

To perform the float division: /

In [4]:
6 / 4

1.5

In [ ]:
To perform an integer division: //

In [5]:
6 // 4

1

Reminder operator: %

In [6]:
6 % 4

2

## Strings
Strings are sequences of characters enclosed in single quotes '...' or in double quotes "..."

In [7]:
s = "This is a string"
len(s)

16

Strings are immutable (they cannot be modified but new strings can be obtained from existing ones)

In [8]:
s1 = "This is"
s2 = " a string"
s1+s2 # string concatenation

'This is a string'

Strings can also be indexed

In [9]:
s = 'Hello'
s[1]

'e'

Negative indices: they can be used to **index from the end** (but -0 is equal to 0 and is the index of the first element!)

In [10]:
s = "Hello"
s[-1]

'o'

In [11]:
s[0:3] # slicing

'Hel'

In [12]:
s[3:]

'lo'

In [13]:
s[:3]

'Hel'

_Remember_: given the slice \[a:b\] characters from a included and b excluded are picked.

Cosecutive slices: s\[i:j\] and s\[j:k\]

The lenghth of a slice is b-a and to access a slice of length n: s\[i:i+n\]

In [14]:
s[-3:-1] # picks chars from -3 to the penultimate

'll'

### String formatting

In [86]:
'%d is %s than %d' % (2,'lower',3)

'2 is lower than 3'

Useful methods:

In [94]:
s = "HelLo\n"
print(s.lower())
print(s.upper())
print(s.rstrip()) # removes \n
print(s.replace('H','h'))
print('1,2,3'.split(','))

hello

HELLO

HelLo
helLo

['1', '2', '3']

## Objects variables and types
In python everythin is an object (int, float, str)

We can **bind** values(objects) to names. A **variable** is a name binded to a value (the variable contains the pointer to the object).

Variables do not have types, values always have a type

## List
A list can be built in this way:

In [16]:
l = [1,2,3]
l

[1, 2, 3]

In [18]:
l = [1, 'A', [4,3]] # elements can be heterogeneous
l

[1, 'A', [4, 3]]

In [19]:
len(l)

3

In [21]:
l[1:-1] # slicing a list will return a shallow copy

['A']

Slicing can also be done providing a step value:

In [22]:
l = [1,2,3,4,5]
l[0:5:2] # from 0 included to 5 excluded with step 2

[1, 3, 5]

In [23]:
l[::-1] # negative step, useful to iterate in reverse order

[5, 4, 3, 2, 1]

In [24]:
l[0:3][::-1] # slicing and reversing

[3, 2, 1]

A list can be modified by assigning values to its element (as if it were an array)

In [26]:
l[1:4] = [9,9,9]
l

[1, 9, 9, 9, 5]

In [28]:
l[1:4] = [] # removes values in position 1,2,3
l

[1]

In [29]:
l.append(4) # adds a new value at the end of the list
l

[1, 4]

In [30]:
l.extend([5,6]) # to extend a list
l

[1, 4, 5, 6]

In [31]:
l.append([5,6]) # with respect to extend the method append
# add a new element that is a list!
l

[1, 4, 5, 6, [5, 6]]

In [32]:
l.pop() # pops the last element
l.pop(0) # pops the element in position 0
l

[4, 5, 6]

Lists can be created from another iterable object by using the function `list()`

In [33]:
l = list([1,2,3])
l

[1, 2, 3]

In [34]:
l = list('Hello')
l

['H', 'e', 'l', 'l', 'o']

## Conditional execution

In [35]:
x = 3
if x < 0:
    print('Negative')
elif x == 0:
    print('Zero')
else:
    print('Positive')

Positive

What **is not** converted to true:

* The boolean value `False`
* the numerical values 0, 0.0
* Empty cllections (\[\] or '')
* The special value `None`

Expliciti casting: `bool()` `int()` `float()`

Blocks cannot be empty, instad, use `pass`

Conditional execution:

In [36]:
a = True
x = 1 if a else 2
print(x)

1

## Loops

In [37]:
x = 3
while x < 6:
    print(x)
    x = x+1

3
4
5

The `for` loop behaves in a different way: we need to pass an iterable object to iterate over. Remeber that we cannot modift the list over which we're iterating

In [38]:
for x in [1,2,3,'hello']:
    print(x)

1
2
3
hello

Useful statements: `break` and `continue`

In [41]:
for x in range(3): # range() doens't create a list but an iterable object
    print(x)

0
1
2

In [40]:
for x in range(1,6,2): # from 1 to 5 with step 2
    print(x)

1
3
5

In loops we can also insert an `else` statement. It is used to fall in wheter the loop terminates without never executing a `break` statement inside.

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

## Functions
Functions can be defined using the keyword `def`

In [43]:
def f(x):
    return x+1

f(2)

3

The values passed to the function are object references (like passing a pointer in C).

In [46]:
a = [1,2]
def f(x):
    x.append(3)
f(a)
print(a)

[1, 2, 3]

In Python both positional and keyword arguments are allowed

In [49]:
def f(a, b=0):
    if b==0:
        print('b was not passed or it was passed 0')
    else:
        print('different value of b passed')
        
f(b=1,a=3)

different value of b passed

Positional arguments must be placed before keyword arguments (if we mix them)

In [51]:
def f(*a): # arbitrary number of parameters -> arguments are passed into a tuple
    print(a)
f(1,2,3,4)

(1, 2, 3, 4)

In [53]:
def f(*a, **kw):
    print(kw)
    
f(a=1,b=2)

{'a': 1, 'b': 2}

In Python functions are objects that can be passed to functions!

Anonymous functions can be created using the keyword `lambda`

In [58]:
(lambda x: x+1)(3) # on the fly defining and calling the function

4

Functions can also be defined in nested scopes. The nested function can access but nt modify the variables of the outer function

In [59]:
def f(x):
    def g(y):
        return x+y
    print(g(1))
f(3)

4

In [60]:
def add_n(n): # function with pre-set parameter
    def add(x):
        return x+n
    return add
add_3 = add_n(3)
add_3(2)

5

## High level data structures

### Lists
Python allows a concise syntax to create new lists: **list comprehension**

In [61]:
l = [i**2 for i in range(4)]
print(l)

[0, 1, 4, 9]

In [62]:
[i**2 for i in range(10) if i % 2 == 0] # adding a filter condition

[0, 4, 16, 36, 64]

In [64]:
[i**2 if i % 2 else 0 for i in range(10)]

[0, 1, 0, 9, 0, 25, 0, 49, 0, 81]

### Tuples
A tuple is a sequence of values separated by the comma. They are immutable but can be indexed and sliced in the same way as lists

In [66]:
t = (1,2,3,'A') # () are not necessary
print(t)

(1, 2, 3, 'A')

In [68]:
x, y, z = (1,2,3) # tuple unpacking
print(x,y,z)

1 2 3

In [69]:
def f():
    return 1,2 # tuples are used to return multiple values
a,b = f()
print(a,b)

1 2

In [70]:
l = [(1,'a'), (2,'b'), (3,'c')]
for val,name in l:
    print(val,name)

1 a
2 b
3 c

The `zip()` function can be used to create tuples of values from a set of lists (it returns an iterator, an object that we can iterate only once)

In [71]:
l1 = [1,2,3]
l2 = ['a','b','c']
l = list(zip(l1,l2))
print(l)

[(1, 'a'), (2, 'b'), (3, 'c')]

The function `enumerate()` returns an iterator that provides pairs of (index, value) from a given iterable

In [72]:
l2 = ['a','b','c']
for val,name in enumerate(l2):
    print(val,name)

0 a
1 b
2 c

### Sets
Sets are unordered collections of items without duplicates

In [73]:
dup = [1,1,2,3,3,4,5,5,5]
print(set(dup))

{1, 2, 3, 4, 5}

To create an empty set use: `set()` because `{}` is the empty dictionary!

To test if an element belongs to an object use the keyword `in`

Sets implement the standard set operations (union, intersection, difference,...)

### Dictionaries
Dictionaries are objects that allow associating keys to values

In [74]:
a = {'a':1, 'b':2, 'c':3}
print(a)

{'a': 1, 'b': 2, 'c': 3}

In [75]:
print(a['b'])

2

In [76]:
print('c' in a)

True

The empty dictionary can be defined with `{}`

In [77]:
[a[i] for i in sorted(a)] # iterate over the keys sorted

[1, 2, 3]

In [83]:
a = {'a':1, 'b':2, 'c':3}
for i in a.keys():
    print(i)

a
b
c

In [85]:
for i in reversed(a.values()):
    print(i)

3
2
1

## Classes and objects

In [98]:
class Point():
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __str__(self):
        return '(' + str(self.x) + ',' + str(self.y) + ')'
    def __add__(self, other):
        return Point(self.x + other.x, self.y + other.y)
    def diff(self):
        return self.x - self.y
        
p1 = Point(1,5)
p2 = Point(4,9)
p3 = p1 + p1
print(p3)

(2,10)